<%= form_for([@post, @comment], remote: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :body,'New Comment' %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Comment' %>
  </div>
<% end %>
